html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}



/*  SECTION*/
.form-group {
    width: 55%;

}

.form-label {
    display: block;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    color: #3E2929;
}

.input_infor_Customer {
    width: 75%;
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.container_Information {
    display: flex;
    width: 100%;
}

.card_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 10px;
    margin-top: 15px;

}

.Blinkiy_photo {
    width: 110px;
    height: 110px;
    margin-left: 20px;
    margin-top: 10px;
}

.img_photo {
    border: 1px solid #ccc;
    border-right: none;
    border-top: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.accountMenu {
    font-family: Fira Sans;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    padding: 0;
    margin: 0;
    text-align: start;
}


#id_user {
    color: #3E2929;
    font-size: 18px;
    padding-right: 9px;
    color: #DA7676;
    margin: 0;
    margin-top: -2px;
}

.fa-bag-shopping {
    color: #005DB2;
    margin: 0;
    font-size: 18px;
    margin-top: -2px;

}

.fa-angles-left {
    color: #EF99A2;
    font-size: 18px;
}

.text_bar {
    padding-left: 40px;
    height: 4rem;
    display: flex;
    align-items: center;
}


.userProfile {
    width: 25%;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(223, 223, 223);
    border-top: none;
}

.inf_title {
    height: 88px;
    top: 282px;
    left: 1059px;
    gap: 0px;
    font-family: 'Paytone One', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 60px;
    color: #b84c65;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: rgb(184, 76, 101);
    border-radius: 5px;
    font-size: 1rem;
    padding: 7px 20px;
}

.btn:hover {
    opacity: 0.7;
    /* Giảm độ trong suốt khi hover vào */
}

.fa-solid {
    padding: 10px;
}


.accountMenu ul li a {
    margin-left: 75px;
    /* Khoảng cách của danh sách con so với danh sách cha */
    font-size: 20px;
}

/* Màu chữ mặc định */
.accountMenu li a {
    color: #3E2929;
    font-family: sans-serif;
    line-height: 2.5;
}

/* Màu chữ khi hover */
.accountMenu li a:hover {
    color: #e88bbd;
}

.accountMenu li:hover {
    background-color: rgb(227, 226, 223);
}

.submenu {
    display: none;
}

.title-account {
    font-size: 22px;
    font-family: 'Paytone One', sans-serif;
    font-weight: 500;
    color: #b84c65;
    margin-bottom: 7px;
    text-align: center;
    /* margin-left: 28px; */
}

.hello-account {
    font-weight: 750;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 28px;
    color: #212B25;
    text-align: center;
    /* margin-left: 28px; */
}


.error {
    color: #ff0000;
}

.btn-changePass {
    background-color: rgb(184, 76, 101);
    color: #fff;
}


.form-control {
    /* width: 100%;
    min-height: 30px;
    height: 35px;
    border-radius: 5px;
    border-color: #e1e1e1; */
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e1e1e1;
    border-radius: .25rem;
}


.private_infor {
    border-right: none;
}

.wrap_input {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}


/* RESPONSIVE */

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .container_Information {
        flex-direction: column;
    }

    .userProfile {
        width: 100%;
    }

    .input_infor_Customer {
        width: 100%;
    }

    .form-label {
        font-size: 1.5rem;
    }

    .form-group {
        width: 70%;
    }

    .wrap_input {
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .private_infor {
        border: 1px solid rgb(223, 223, 223);
        border-left: none;
        border-right: none;
    }

    .accountMenu {
        font-size: 1.3rem;
    }

    /* HEADER */
    .top-bar {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: #3E2929;
        display: grid;
        grid-template-columns: 22% 38% 40%;
    }

    .logo {
        height: 15px;
        display: grid;
        grid-template-columns: 40% 0% 60%;
    }

    .logo-img {
        width: 55%;
        height: auto;
        margin-top: -1.5px;
        margin-left: 30%;
    }

    .logo-blinkiy {
        margin-top: 0.1px;
        font-size: 9px;
    }

    .logo-phongthuy {
        margin-top: 10px;
        font-size: 6px;
        color: #DAB076;
    }

    /*SEARCH BAR*/
    .search-bar {
        /* background-color: aqua; */
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 10% 90%;

    }

    .search-bar-input {
        border: 0.5px solid #373737;
        width: 85%;
        height: 12px;
        line-height: 12px;
        border-radius: 0px 3px 3px 0px;
        text-indent: 3px;
        font-size: 6px;
    }

    .search-bar-input::placeholder {
        line-height: normal;
        font-size: 6px;
    }

    i.fa-search {
        border: 0.5px solid #373737;
        font-size: 6px;
        height: 12px;
        border-radius: 3px 0px 0px 3px;
        width: 100%;
    }

    .top-bar-options {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    i.fa-user, i.fa-cart-shopping, i.fa-heart {
        margin-top: 5px;
        color: #F7ECDB;
        font-size: 6.5px;
    }

    .top-bar-options-object-title {
        margin-top: 5px;
        margin-bottom: 0;
        color: #F7ECDB;
        font-size: 8px;
    }

    .top-bar-options-object {
        display: grid;
        grid-template-columns: 20% 80%;

    }

    /* MENU BAR */
    .mainmenu {
        z-index: 1;
        height: 40px;
        /* backdrop-filter: blur(2px); */
    }

    .menu-bar-title {
        height: 40px;
        font-size: 10px;
    }

    .mainmenu-li {
        height: 40px;
    }

    .product-submenu a {
        height: 30px;
        font-size: 10px;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
    .container_Information {
        flex-direction: column;
    }

    .userProfile {
        width: 100%;
    }

    .accountMenu {
        font-size: 1rem;
    }

    .input_infor_Customer {
        width: 100%;
    }

    .wrap_input {
        width: 80%;
    }

    .private_infor {
        border: 1px solid rgb(223, 223, 223);
        border-left: none;
        border-right: none;
    }

    /* HEADER */
    .top-bar {
        width: 100%;
        height: 70px;
        display: grid;
        grid-template-columns: 22% 40% 38%;
    }

    .logo {
        height: 70px;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 40% 0% 60%;
    }

    .logo-img {
        margin-top: 4px;
        width: 55%;
        height: auto;
        margin-left: 30%;
    }

    .logo-blinkiy {
        margin-top: 0.5px;
        font-size: 14px;
    }

    .logo-phongthuy {
        margin-top: 34px;
        font-size: 13px;
        color: #DAB076;
    }

    /*SEARCH BAR*/
    .search-bar {
        /* background-color: aqua; */
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 8% 92%;

    }

    .search-bar-input {
        border: 0.5px solid #373737;
        width: 85%;
        height: 23px;
        line-height: 12px;
        border-radius: 0px 4px 4px 0px;
        text-indent: 3px;
        font-size: 10px;
    }

    .search-bar-input::placeholder {
        line-height: normal;
        font-size: 10px;
    }

    i.fa-search {
        border: 0.5px solid #373737;
        font-size: 9px;
        height: 23px;
        border-radius: 4px 0px 0px 4px;
        width: 100%;
    }

    .top-bar-options {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    i.fa-user, i.fa-cart-shopping, i.fa-heart {
        margin-top: 5px;
        color: #F7ECDB;
        font-size: 15px;
    }

    .top-bar-options-object-title {
        margin-top: 5px;
        margin-bottom: 0;
        color: #F7ECDB;
        font-size: 15px;
    }

    .top-bar-options-object {
        display: grid;
        grid-template-columns: 20% 80%;

    }

    /* MENU BAR */
    .mainmenu {
        z-index: 1;
        height: 60px;
        /* backdrop-filter: blur(2px); */
    }

    .menu-bar-title {
        height: 60px;
        font-size: 17px;
    }

    .mainmenu-li {
        height: 60px;
    }

    .product-submenu a {
        height: 45px;
        font-size: 17px;
    }

}