.header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
}
.header_content{
    height: 117px;
    background-color: #3E2929;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.left_section{
    flex: 1;
    display: flex;
    align-items: center;
}
.right_section{
    flex: 1;
    display: flex;
    align-items: center;
}
.logo{
    height: 90px;
    width: auto;
    margin-left: 34px;

}
.search_bar{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.search_box{
    height: 39px;
    flex: 1;
    border: solid 1px;
    height: 45px;
    border-radius: 0px 8px 8px 0px;
    font-size: 20px;
    padding-left: 10px;
}
.search_icon{
    height: 20px;
    width: auto;
}
.search_button{
    height: 49px;
    width: 45px;
    background-color: white;
    border: solid 1px;
    border-radius: 8px 0px 0px 8px;
}

.Tai_khoan{
    flex: 10;
    display: flex;
    flex-direction: row;
    color: #F7ECDB;
    font-family: Dongle;
    font-weight: 300;
    font-size: 35px;
    line-height: 9px;
}
.TK_button{
    border: none;
    background-color: #3E2929;
    padding-left: 10%;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #705A57;
    font-family: "Poly", serif;
    font-size: 30px;
}
.title_func{
    flex: 2;
    text-align: center;
}
.title_func a{
    color: white;
    text-decoration: none;
}
.title_func a:hover, .title_func a:focus, .title_func a.active{
    color: #3E2929;
}
.padd{
    flex:1;
}
.main{
    font-family: "Epilogue", sans-serif;
    font-size: 33px;
    font-weight: 280;
    margin-top: 15%; 
}
.main_c_1{
    display: flex;
    flex-direction: row;
}

.content1{
    flex: 3;
    margin-left: 7%;
    margin-right: 7%;
    line-height: 150%;
}
.content1 h2{
    color: #D0933E;
}
.content1 span{
    font-weight: bold;
}
.content1 img{
    margin-right: 3%;
}
.img1{
    display: flex;
    flex: 2;    
    align-items: center;
}
.img1 img{
    height: 90%;
    width: auto;
}
.bg1{
    height: 10px;
    background-image: url(Screenshot\ 2023-12-12\ 131049.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    margin-top: 3%;
    margin-bottom: 3%;
}
hr{
    background-color: #EF99A2;
    border: none;
    height: 2px;
}
