body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
}
/*Top-bar*/
.top-bar
{
    width: 100%;
    max-width: 1920px;
    height: 85px;
    display: flex;
    align-items: center;
    background-color: #FDFDFB;
    display: grid;
    grid-template-columns: 20% 45% 35%;
}
.logo
{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 0% 60%;
}

/*LOGO*/
.logo-img
{
    width: 60%;
    height: auto;
    margin-top: -5px;
    margin-left: 30%;
}
.logo-blinkiy
{
    margin-top: 4px;
    font-size: 20px;
    font-family: 'Arial';
    font-style: normal;
    /* color: #DDD9CD; */
    color: #EF99A2;
    font-weight: 700;
}
.logo-phongthuy
{
    margin-top: 29px;
    font-size: 18px;
    color: #DAB076;
    font-weight: medium;
}

/*SEARCH BAR*/
.search-bar
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.search-bar-cover
{
    margin-top: 0.5%;
    width: 85%;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 8% 92%;
    border: 1px solid #DAB076;
    border-radius: 50px 50px 50px 50px;
}
.search-bar-input
{
    width: 90%;
    height:20px;
    background-color: #FDFDFB;
    border: 1px solid #DAB076;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: #e08f96;
    text-indent: 10px;/*để di chuyển value với placeholer sang phải*/
}

.search-bar-input:focus
{
    outline: none;
}
.search-bar-input::placeholder
{
    color: #e08f96;
    font-size: 15px;
}
i.fa-search
{
    font-size: 15px;
    margin-top: 0;
    height: 30px;
    width: 100%;
    color: #EF99A2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TOP BAR OPTIONS*/
.top-bar-options
{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: end;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 34% 33% 33%;
}
.bg-menu-img
{
    width: 100%;
    height: 75px;
    object-fit: cover;
}
i.fa-user, i.fa-cart-shopping, i.fa-heart
{
    color: #EF99A2;
    font-size: 20px;
}
.top-bar-options-object
{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 70%;
}
.top-bar-options-object-title:hover
{
    color: #DAB076;
}
.top-bar-options-object-title
{
    color: #d4868d;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}
/* MENU BAR */
.menu-bar
{
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-rows: 0px;
    /* order: 2; */
}
.mainmenu, .product-submenu
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainmenu
{
    z-index: 1;
    background: rgba(112, 90, 87, 0.37);
    height: 75px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* backdrop-filter: blur(2px); */
}
.bg-menu-img
{
    width: 100%;
    height: 75px;
    object-fit: cover;
    /* background-color: #FDFDFB; */
}
.menu-bar-title
{
    display: block;
    text-decoration: none;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}
.mainmenu a:hover
{
    color: #452525;
}
.mainmenu-li
{
    height: 75px;
}
.mainmenu-li:hover .product-submenu 
{
    display: block;
    max-height: 200px;
    
}
.product-submenu a
{
    display: block;
    text-decoration: none;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;

    color: #706c6b;
}
.product-submenu a:hover
{
    color: #EF99A2;
    background-color: #edededad;
}
.product-submenu
{
    background-color: #ffffff;
    opacity: 0.8;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


/* Mobile width < 740px */
@media only screen and (max-width: 46.1875em)
{
    .top-bar
    {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 30% 30% 40%;
    }
    .logo
    {
        margin-top: -5px;
        height: 15px;
        display: grid;
        grid-template-columns: 40% 0% 60%;
    }
    .logo-img
    {
        height: auto;
        margin-top: -8%;
        margin-left: 30%;
    }
    .logo-blinkiy
    {
        margin-top: 0.3px;
        font-size: 9px;
    }
    .logo-phongthuy
    {
        margin-top: 13px;
        font-size: 7px;
        color: #DAB076;
    }
    /*SEARCH BAR*/
    .search-bar-cover
    {
        margin-top: 0.5%;
        width: 85%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 15% 85%;
        border: 0.5px solid #DAB076;
        border-radius: 50px 50px 50px 50px;
    }
    .search-bar-input
    {
        border-width: 0.5px;
        width: 85%;
        height: 8px;
        line-height: 12px;
        text-indent: 3px;
        font-size: 6px;
    }
    .search-bar-input::placeholder
    {
        line-height: normal; 
        font-size: 6px;
    }
    i.fa-search
    {
        /* border: 0.5px solid #373737; */
        font-size: 6px;
        height: 12px;
        width: 100%;
    }
    .top-bar-options
    {
        
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    i.fa-user, i.fa-cart-shopping, i.fa-heart
    {
        margin-top: 5px;
        font-size: 7px;
    }
    .top-bar-options-object-title
    {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 8px;
    }
    .top-bar-options-object
    {
        display: grid;
        grid-template-columns: 20% 80%;
        
    }
    /* MENU BAR */
    .mainmenu
    {
        z-index: 1;
        height: 40px;
    }
    .bg-menu-img
    {
        width: 100%;
        height: 40px;
        object-fit: cover;
    }
    .menu-bar-title
    {
        height: 40px;
        font-size: 10px;
    }
    .mainmenu-li
    {
        height: 40px;
    }
    .product-submenu a
    {
        height: 30px;
        font-size: 10px;
    }
} 
/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em)
{
    .top-bar
    {
        width: 100%;
        height: 70px;
        display: grid;
        grid-template-columns: 22% 40% 38%;
    }
    .logo
    {
        height: 70px;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 40% 0% 60%;
    }
    .logo-img
    {
        margin-top: 4px;
        width: 55%;
        height: auto;
        margin-left: 30%;
    }
    .logo-blinkiy
    {
        margin-top: 0.5px;
        font-size: 14px;
    }
    .logo-phongthuy
    {
        margin-top: 34px;
        font-size: 13px;
        color: #DAB076;
    }
    /*SEARCH BAR*/
    .search-bar-cover
    {
        margin-top: 0.5%;
        width: 85%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 10% 90%;
        border: 0.5px solid #DAB076;
        border-radius: 50px 50px 50px 50px;
    }
    .search-bar-input
    {
        width: 85%;
        height: 15px;
        line-height: 12px;
        border: 0.5px solid #DAB076;
        border-top: none;
        border-right: none;
        border-bottom: none;
        text-indent: 3px;
        font-size: 10px;
    }
    .search-bar-input::placeholder
    {
        line-height: normal; 
        font-size: 10px;
    }
    i.fa-search
    {
        font-size: 10px;
        height: 23px;
        width: 100%;
    }
    .top-bar-options
    {
        height: 30px;
        /* height: 100%; */
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .bg-menu-img
    {
        width: 100%;
        height: 30px;

    }
    i.fa-user, i.fa-cart-shopping, i.fa-heart
    {
        margin-top: 5px;
        /* color: #F7ECDB; */
        font-size: 15px;
    }
    .top-bar-options-object-title
    {
        margin-top: 5px;
        margin-bottom: 0;
        /* color: #F7ECDB; */
        font-size: 15px;
    }
    .top-bar-options-object
    {
        display: grid;
        grid-template-columns: 20% 80%;
        
    }
    /* MENU BAR */
    .mainmenu
    {
        z-index: 1;
        height: 60px;
        /* backdrop-filter: blur(2px); */
    }
    .bg-menu-img
    {
        width: 100%;
        height: 60px;
        object-fit: cover;
    }
    .menu-bar-title
    {
        height: 60px;
        font-size: 17px;
    }
    .mainmenu-li
    {
        height: 60px;
    }
    .product-submenu a
    {
        height: 45px;
        font-size: 17px;
    }
} 

.process {
    display: flex;
    max-width: 100%;
    height: 15%;
    margin-top: 0;
}

.process ul {
    list-style-type: none;
}

.process ul li {
    display: inline;
    font-size: 20px;
    font-style: Poly;
    margin: 0 5px;
}

.current {
    color: rgba(239, 153, 162, 1);
}

.check_out {
    display: grid;
    grid-template-columns: 45% 50%;
    grid-template-rows: 50% 40%;
    grid-gap: 5%;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 1.217%;
    max-width: 85%;
    height: 100%;
    margin-top: 3%;
    margin-left: 4.948%;
    margin-bottom: 60px;
}

.confirm {
    font-size: 20px;
    grid-row: 1;
    grid-column: 1;
    margin-left: 5%;
}

.confirm_header,
.payment_opt_header {
    font-size: 30px;
    color:rgba(239, 153, 162, 1)
}

.confirm hr {
    max-width: 100%;
}

.payment_opt {
    grid-row: 2;
    grid-column: 1;
    font-size: 20px;
}

.info_container {
    grid-row: 1/2;
    grid-column: 2;
    justify-self: center;
    margin-top: 5%;
    max-width: 80%;
    height: 100%;
}

.info {
    margin: 2.537% 8%;
    background-color: white;
    padding: 2.723%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(5, auto);
}

.info hr {
    width: 96%;
}

.items_list {
    grid-row: 1;
    grid-column: span(2);
    display: flex;
    flex-direction: row;
}

.item {
    display: grid;
    grid-template-columns: 20% 50% 25%;
    grid-template-rows: 50% repeat(2, 12.5%) 25%;
    grid-gap: 0 2%;
    align-items: center;
    border: 0.25px solid #ccc;
    padding: 0;
    margin: 1%;
    max-width: 100%;
    height: auto;
    text-align: center;
}
  
.item img {
    justify-self: center;
    align-self: center;
    grid-row: span 4;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.item p {
    text-align: left;
}

.item_name {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.item_color {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    margin-bottom: 8px;
}

.item_size {
    grid-column: 2;
    grid-row: 3;
    margin: 0;
    margin-bottom: 8px;
}

.quantity_values {
    border-right: 0;
    border-left: 0;
    text-align: center;
    max-width: 100%;
    background-color: white;
}
  
.item_total {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    font-weight: bold;
    color: black;
}

.sum_container {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    font-size: 20px;
    margin-top: 8%;
    margin-bottom: 3%;
    width: 93.12%;
    align-self: center;
    justify-self: center;
    color: rgba(239, 153, 162, 1);
    font-size: 20px;
    font-weight: bold;
}

.sum {
    text-align: right;
}

.fees {
    grid-row: 2;
    grid-column: span(2);
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    margin: 5% 0%;
    font-size: 20px;
    font-weight: bold;
    color: rgba(239, 153, 162, 1);
}

.items_total,
.shipping_fee {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 97%;
}

.total,
.shipping {
    text-align: right;
}

.discount_container {
    grid-row: 4;
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 3% 4%;
    width: 100%;
}

.discount_container input {
    flex-grow: 1;
    padding: 3.5%;
    border: 1px solid #ccc;
    max-width: 100%;
    height:auto;
    border-radius: 5px 0 0 5px;
}

.discount_container button {
    padding: 0;
    background-color: white;
    color: rgba(58, 70, 81, 1);
    border: 1px solid rgba(58, 70, 81, 1);
    cursor: pointer;
    font-size: 12px;
    max-width: 75%;
    border-radius: 0 5px 5px 0;
}

.discount_container button:hover {
    background-color: gray;
}

.discount_container .discount_icon {
    margin-right: 15%;
    width: 20%;
    height: 40%;
}

.pay {
    font-size: 25px;
    text-align: center;
}

.pay button {
    margin-top: 2.5%;
    padding: 3.2% 5%;
    background-color: rgba(239, 153, 162, 1);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 90%;
    height: auto;
    font-size: 18px;
}

.pay button:hover {
    background-color: #ec6ad2;
}

.pay button:active {
    background-color: red;
}

.continue {
    text-align: center;
    margin-top: 16px;
}

.continue a {
    text-decoration: none;
    color: #007bff;
    display: inline-block;
    padding: 3% 6%;
    color: black;
}

.continue a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: white;
    padding: 1%;
}

.section_container
{
    max-width: 96%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.footer_section {
    font-size: 18px;
    text-align: left;
    flex: 1;
    max-width: 15%;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: #cfe411;
}

.fa-brands {
    margin-right: 1.5%;
}
